.home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
    margin-bottom: 100px;

    &-full-column {
      grid-template-columns: repeat(4, 1fr);
      gap: 1%;
    }
  }
}

/* tablet */
@media (min-width: 700px) {
  .home__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* desktop */
@media (min-width: 900px) {
  .home__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
