@import "typeface-poppins";

.app {
  font-family: "Poppins", sans-serif;
  
  &__header {
    background-color: #282c34;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-transform: uppercase;
  }
}
